.idea
monopolyDsl.parent/.gradle
monopolyDsl.parent/gradle
monopolyDsl.parent/build.gradle
monopolyDsl.parent/gradlew
monopolyDsl.parent/gradlew.bat
monopolyDsl.parent/settings.gradle
monopolyDsl.parent/monopolyDsl.idea/src/main
monopolyDsl.parent/monopolyDsl.ide/src/main
monopolyDsl.parent/monopolyDsl.ide/build.gradle
monopolyDsl.parent/monopolyDsl.ide/build/
monopolyDsl.parent/monopolyDsl/build/
monopolyDsl.parent/monopolyDsl/build.gradle
monopolyDsl.parent/monopolyDsl.idea/build/
monopolyDsl.parent/monopolyDsl.idea/build.gradle

# all generated java files
**/*.java
**/*.java._trace

# generated xtext files
**/*.g 
**/*.tokens
**/*.ecore
**/*.xtextbin
**/*.genmodel

.metadata


# xtend
META-INF
**/bin/
de.htwg.konstanz.de.mgse.monopolyDsl.tests
de.htwg.konstanz.de.mgse.monopolyDsl.ui/*
!de.htwg.konstanz.de.mgse.monopolyDsl.ui/src

**/*.xml
xtend-gen
plugin.xml_gen
**/*.jar