.idea
monopolyDsl.parent/.gradle
monopolyDsl.parent/gradle
monopolyDsl.parent/gradlew
monopolyDsl.parent/gradlew.bat
monopolyDsl.parent/monopolyDsl.idea/src/main
monopolyDsl.parent/monopolyDsl.ide/src/main
monopolyDsl.parent/monopolyDsl.ide/build/
monopolyDsl.parent/monopolyDsl/build/
monopolyDsl.parent/monopolyDsl.idea/build/

# all generated java files
**/*.java
**/*.java._trace

# generated xtext files
**/*.g 
**/*.tokens
**/*.ecore
**/*.xtextbin
**/*.genmodel